body {
    background-color:#462F66;
}

.logo {
    width: 600px;
    height: 600px;
}

/*NAVEGAÇÃO ENTRE PAGINAS*/
.navegação {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(243, 212, 109);
    text-decoration: underline;
}

/* contato */

h2 {
    text-align: center; 
    background:#462F66;
}

p {
   text-align: center;
   background:#462F66;
   font-size: 20px;
}

strong {
    color: #C9B2EA;
}

em {
    color: #C9B2EA;
}

h2 {
    color: #C9B2EA;
}