body {
    background-color:#462F66;
}

h2 {
    text-align: center; 
    background:#462F66;
}

p {
   text-align: center;
   background:#462F66;
   font-size: 20px;
}

strong {
    color: rgb(92, 6, 6);
}

em {
    color: rgb(92, 6, 6);
}

h1 {
    color: rgb(92, 6, 6);
}