body {
    background-color:#462F66;
}

/*NAVEGAÇÃO ENTRE PAGINAS*/
.navegação {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(243, 212, 109);
    text-decoration: underline;
}

/* produtos */

.produtos {
    width: 750px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 35%;
    vertical-align: top;
    margin: 0 1,5%;
    padding: 30 px 20px;
    box-sizing: border-box;

}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    margin-top: 10px;
}

.img {
    width: 200px;
    height: 200px;
}

h2 {
    background:#462F66;
}

p {
   background:#462F66;
   font-size: 20px;
}

strong {
    color: #C9B2EA;
}

em {
    color: #C9B2EA;
}

h1 {
    color: #C9B2EA;
}