body {
    background-color:#462F66;
}

h2 {
    text-align: center; 
    background:#462F66;
}

p {
   text-align: center;
   background:#462F66;
   font-size: 20px;
}

strong {
    color: #C9B2EA;
}

em {
    color: #C9B2EA;
}

h1 {
    color: #C9B2EA;
}