 
body {
    background-color:Lavender;
}

#foto1 {
    height: 500px;
}

h2 {
    text-align: center; 
    background:#c8d7eb;
}

p {
   text-align: center;
   background: #e0dbfc;
   font-size: 20px;
}
